---
openapi: 3.0.2
info:
  title: VOST Portugal API
  description: Portuguese Virtual Operations Support Team API.
  version: 1.0.0
  contact:
    name: VOST Portugal API Support
    email: vostportugal@gmail.com
  x-logo:
    url: logo.png
    altText: VOST Portugal Logo

servers:
  - url: https://api.vost.pt/v1
    description: Production

tags:
  - name: Acronyms
    description: Acronym operations
  - name: Authentication
    description: User authentication operations
  - name: Counties
    description: County operations
  - name: Districts
    description: District operations
  - name: Events
    description: Event operations
  - name: Occurrences
    description: Occurrence operations
  - name: Parishes
    description: Parish operations
  - name: Users
    description: System user operations
  - name: Warnings
    description: IPMA warning operations
  - name: Observations
    description: Weather observation operations

x-tagGroups:
  - name: Acronym Management
    tags:
      - Acronyms
  - name: Event Management
    tags:
      - Events
      - Occurrences
  - name: Location Management
    tags:
      - Districts
      - Counties
      - Parishes
  - name: User Management
    tags:
      - Authentication
      - Users
  - name: IPMA
    tags:
        - Warnings
  - name: Weather
    tags:
        - Observations

paths:
  /acronyms:
    $ref: 'acronyms/endpoints.yaml#/index-and-create'

  /acronyms/{id}:
    $ref: 'acronyms/endpoints.yaml#/view-update-and-delete'

  /events:
    $ref: 'events/endpoints.yaml#/index-and-create'

  /events/{id}:
    $ref: 'events/endpoints.yaml#/view-update-and-delete'

  /occurrences:
    $ref: 'occurrences/endpoints.yaml#/index'

  /occurrences/{id}:
    $ref: 'occurrences/endpoints.yaml#/view-and-update'

  /occurrences/families:
    $ref: 'occurrences/endpoints.yaml#/index-occurrence-families'

  /occurrences/species:
    $ref: 'occurrences/endpoints.yaml#/index-occurrence-species'

  /occurrences/types:
    $ref: 'occurrences/endpoints.yaml#/index-occurrence-types'

  /occurrences/statuses:
    $ref: 'occurrences/endpoints.yaml#/index-occurrence-statuses'

  /occurrences/reports/generate:
      $ref: 'occurrences/endpoints.yaml#/reports-generate'

  /occurrences/reports/{signature}:
      $ref: 'occurrences/endpoints.yaml#/reports-download'

  /districts:
    $ref: 'districts/endpoints.yaml#/index'

  /districts/{id}:
    $ref: 'districts/endpoints.yaml#/view'

  /counties:
    $ref: 'counties/endpoints.yaml#/index'

  /counties/{id}:
    $ref: 'counties/endpoints.yaml#/view'

  /parishes:
    $ref: 'parishes/endpoints.yaml#/index'

  /parishes/{id}:
    $ref: 'parishes/endpoints.yaml#/view'

  /auth:
    $ref: 'auth/endpoints.yaml#/authenticate'

  /auth/verify:
    $ref: 'auth/endpoints.yaml#/verify'

  /auth/refresh:
    $ref: 'auth/endpoints.yaml#/refresh'

  /users/roles:
    $ref: 'users/endpoints.yaml#/roles-index'

  /users:
    $ref: 'users/endpoints.yaml#/index-and-create'

  /users/{id}:
    $ref: 'users/endpoints.yaml#/view-and-update'

  /users/profile:
    $ref: 'users/endpoints.yaml#/profile-view-and-update'

  /ipma/warnings:
      $ref: 'ipma/endpoints.yaml#/index'

  /weather/observations:
      $ref: 'weather/endpoints.yaml#/index'

  /weather/observations/{id}:
      $ref: 'weather/endpoints.yaml#/view'

components:
  securitySchemes:
    access_token:
      description: Some endpoints require authentication.
      type: http
      scheme: bearer
      bearerFormat: JWT
