---
openapi: 3.0.2
info:
  title: VOST Portugal API
  description: Portuguese Virtual Operations Support Team API.
  version: 1.0.0
  contact:
    name: VOST Portugal API Support
    email: vostportugal@gmail.com
  x-logo:
    url: logo.png
    altText: VOST Portugal Logo

servers:
  - url: https://api.vost.pt
    description: Production
  - url: https://staging-api.vost.pt
    description: Staging
  - url: https://dev-api.vost.pt
    description: Development

tags:
  - name: Acronyms
    description: Acronym operations
  - name: Authentication
    description: User authentication operations
  - name: Counties
    description: County operations
  - name: Districts
    description: District operations
  - name: Events
    description: Event operations
  - name: Occurrences
    description: Occurrence operations
  - name: Parishes
    description: Parish operations
  - name: Users
    description: System user operations

x-tagGroups:
  - name: Acronym Management
    tags:
      - Acronyms
  - name: Event Management
    tags:
      - Events
      - Occurrences
  - name: Location Management
    tags:
      - Districts
      - Counties
      - Parishes
  - name: User Management
    tags:
      - Authentication
      - Users

paths:
  /acronyms:
    $ref: 'acronyms/endpoints.yaml#/index-and-create'

  /acronyms/{id}:
    $ref: 'acronyms/endpoints.yaml#/view-update-and-delete'

  /events:
    $ref: 'events/endpoints.yaml#/index-and-create'

  /events/{id}:
    $ref: 'events/endpoints.yaml#/view-update-and-delete'

  /occurrences:
    $ref: 'occurrences/endpoints.yaml#/index'

  /occurrences/{id}:
    $ref: 'occurrences/endpoints.yaml#/view'

  /occurrences/prociv/{id}:
    $ref: 'occurrences/endpoints.yaml#/prociv-view'

  /districts:
    $ref: 'districts/endpoints.yaml#/index'

  /districts/{id}:
    $ref: 'districts/endpoints.yaml#/view'

  /counties:
    $ref: 'counties/endpoints.yaml#/index'

  /counties/{id}:
    $ref: 'counties/endpoints.yaml#/view'

  /parishes:
    $ref: 'parishes/endpoints.yaml#/index'

  /parishes/{id}:
    $ref: 'parishes/endpoints.yaml#/view'

  /auth:
    $ref: 'auth/endpoints.yaml#/authenticate'

  /auth/refresh:
    $ref: 'auth/endpoints.yaml#/refresh'

  /users/roles:
    $ref: 'users/endpoints.yaml#/roles-index'

  /users:
    $ref: 'users/endpoints.yaml#/index-and-create'

  /users/{id}:
    $ref: 'users/endpoints.yaml#/view-and-update'

  /users/profile:
    $ref: 'users/endpoints.yaml#/profile-view-and-update'

components:
  securitySchemes:
    access_token:
      description: Some endpoints require authentication.
      type: http
      scheme: bearer
      bearerFormat: JWT
